.kutu{
    font-size:30px;
    background:pink;
    text-align:center;
  
    border-style: double dashed;  
    border-width: 5px;
    border-color: green;
    padding: 20px;
    width: 400px; 
  }
  